.text-modal {
  width: 400px;
  padding: 25px;
  background-color: var(--white);
  line-height: 25px;
  text-align: center;
  font-size: bold;
  font-size: 20px;
}

.text-modal-close-btn {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  background-color: var(--blue);
  color: var(--white);
  margin-top: 20px;
  font-size: 1.1rem;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--blue);
  color: var(--white);
  font-size: 1.1rem;
  padding: 3px 20px;
  font-size: 1.1rem;
  margin: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
