.text-modal {
  width: 400px;
  padding: 25px;
  background-color: var(--white);
  line-height: 25px;
  text-align: center;
  font-size: bold;
  font-size: 20px;
}

.text-modal-close-btn {
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  background-color: var(--blue);
  color: var(--white);
  margin-top: 20px;
  font-size: 1.1rem;
}

