.sidebar {
  position: fixed;
  background-color: var(--sidebar-bg);
  height: 100vh;
  flex: 1;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.sidebar-title {
  font-size: 1.4rem;
  color: var(--sidebar-text);
  padding: 16px;
  text-align: right;
  border-bottom: 2px solid var(--sidebar-border);
  transition: color 0.4s ease, border-color 0.4s ease;
}

.sidebar-links {
  margin-top: 20px;
  transition: all 0.4s ease;
}

.sidebar-links a {
  width: 85%;
  text-decoration: none;
  color: var(--sidebar-text);
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.3rem;
  padding: 16px;
  border-radius: 8px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.sidebar-links a:hover {
  background-color: var(--sidebar-hover-bg);
  color: var(--sidebar-hover-text);
}

.active {
  background-color: var(--sidebar-hover-bg);
  line-height: 200%;
}

.icon {
  margin-left: 8px;
  color: var(--sidebar-text);
  transition: color 0.4s ease;
}
