.sidebar {
  position: fixed;
  background-color: var(--blue);
  height: 100vh;
  flex: 1;
}

.sidebar-title {
  font-size: 1.4rem;
  color: var(--white);
  padding: 16px;
  text-align: right;
  border-bottom: 2px solid #6c48bb;
}

.sidebar-links {
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.sidebar-links li {
  position: relative;
  padding: 16px;
}

.sidebar-links li a {
  width: 100%;
  text-decoration: none;
  color: var(--white);
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.3rem;
}

.active {
  background-color: #391588;
  line-height: 200%;
}

.sidebar-links li:first-child {
  margin-bottom: 20px;
}

.icon {
  margin-left: 8px;
}
