.add-off {
  color: var(--white);
  background-color: var(--blue);
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add-select-course {
  display: flex;
  flex-direction: column;
}

.option-select-box {
  padding: 12px;
  border-radius: 10px;
  font-size: 1.2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
