.off-main {
  margin-top: 60px;
}
.off-title {
  font-size: 2rem;
}
.add-off-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.add-off-form-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px 15px;
}
.add-off-form-group {
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: #f4f4f4;
  padding: 0 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.add-off {
  color: var(--white);
  background-color: var(--blue);
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add-select-course {
  display: flex;
  flex-direction: column;
}

.option-select-box {
  padding: 12px;
  border-radius: 10px;
  font-size: 1.2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.padd {
  padding: 20px;
}
