.products-main {
  margin-top: 60px;
}

.products-title {
  font-size: 2rem;
}

.add-products-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 30px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.add-products-form-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px 15px;
}

.add-products-form-group {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 90%;
  background-color: #f4f4f4;
  padding: 0 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add-products-input {
  outline: none;
  border: none;
  background: unset;
  padding: 8px 10px;
  font-size: 1.1rem;
  width: 100%;
}

.add-products-submit {
  color: var(--white);
  background-color: var(--blue);
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
