.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-profile {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.admin-profile img {
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.admin-profile div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.admin-profile div h1 {
  font-size: 1.2rem;
}

.admin-profile div h3 {
  color: #858585;
}

.header-left-section {
  display: flex;
  column-gap: 20px;
}

.search-box {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 5px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  width: 400px;
  height: 45px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.search-box input {
  border: none;
  outline: none;
  background: unset;
  width: 100%;
  font-size: 1.1rem;
  padding: 10px 20px 10px 10px;
}

.search-box button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background: var(--blue);
  color: var(--white);
  font-size: 1.1rem;
  padding: 3px 20px;
  font-size: 1.1rem;
  width: 135px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header-left-icon {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--white);
  width: 40px;
  height: 40px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.8);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
