.modal-parent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.modal-parent.active {
  opacity: 1;
  visibility: visible;
}

.cms-table {
  margin-top: 20px;
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cms-table tr {
  text-align: center;
}

.cms-table th,
.cms-table td {
  padding: 20px;
}

.cms-main {
  margin-top: 60px;
  padding: 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.cms-title {
  font-weight: bold;
  font-size: 2rem;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--blue);
  color: var(--white);
  font-size: 1.1rem;
  padding: 3px 20px;
  font-size: 1.1rem;
  margin: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
